<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= tweet.title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Twitter</h1>
    
    <div class="tweet">
        <h2>Title: <%= tweet.title %></h2>
        <p><b>Tweet ID:</b> <%= tweet.id %></p>
        <p><%= tweet.content %></p>
    </div>
</body>
</html>